body {
    margin: 0;
}

/* Removes Input Border Focus */
*:focus {
    outline: none;
}

/* Home Page Blue */
 
.home-page-blur {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(http://cdn.wccftech.com/wp-content/uploads/2015/03/retina-macbook-overview_colors_large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(6px);
    filter: blur(6px);
}


/* Home Page Container */

.home-page-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center
}


/* Home Page Opacity Container*/

.home-page-opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(1, 1, 1, 0.7);
}


/* Title */

.home-page-title {
    color: white;
    font-size: 74px;
    font-variant: small-caps;
    margin-top: 15%;
}


/* Search Area Input Field */

.home-page-container input {
    width: 600px;
    height: 35px;
    padding: 0 10px;
    border-radius: 15px;
    background-color: rgba(150, 150, 150, 0.5);
    border: none;
    font-size: 20px;
    color: white;
}

/* Input Field Search Icon */
.search-icon {
	position: relative;
	color: white;
	top: 1px;
	left: -40px;
	font-size: 20px;
}